---
---
@import "{{ site.theme }}";

.post-preview {
  padding-bottom: 30px;
}

.black-bold {
  font-weight: bolder;
  color: rgb(48, 48, 48);
}

.post-read-more {
  font-weight: bold;
}

.pager li {
  list-style: none;
}
